Repository DFE-Digital/spi-common: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/Dfe.Spi.Common.Caching.yml, pipelines/Dfe.Spi.Common.Extensions.yml, pipelines/Dfe.Spi.Common.Http.Client.yml, pipelines/Dfe.Spi.Common.Http.yml, pipelines/Dfe.Spi.Common.Logging.yml, pipelines/Dfe.Spi.Common.SharedAzure.yml, pipelines/Dfe.Spi.Common.UnitTesting.yml

Path conditions:
  pipelines/Dfe.Spi.Common.Caching.yml: any of: pipelines/Dfe.Spi.Common.Caching.yml, src/Dfe.Spi.Common/Dfe.Spi.Common.Caching
  pipelines/Dfe.Spi.Common.Extensions.yml: any of: pipelines/Dfe.Spi.Common.Extensions.yml, src/Dfe.Spi.Common/Dfe.Spi.Common.Extensions
  pipelines/Dfe.Spi.Common.Http.Client.yml: any of: pipelines/Dfe.Spi.Common.Http.Client.yml, src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Client
  pipelines/Dfe.Spi.Common.Http.yml: any of: pipelines/Dfe.Spi.Common.Http.yml, src/Dfe.Spi.Common/Dfe.Spi.Common.Http
  pipelines/Dfe.Spi.Common.Logging.yml: any of: pipelines/Dfe.Spi.Common.Logging.yml, src/Dfe.Spi.Common/Dfe.Spi.Common.Logging
  pipelines/Dfe.Spi.Common.SharedAzure.yml: any of: pipelines/Dfe.Spi.Common.SharedAzure.yml, common-azure
  pipelines/Dfe.Spi.Common.UnitTesting.yml: any of: pipelines/Dfe.Spi.Common.UnitTesting.yml, src/Dfe.Spi.Common/Dfe.Spi.Common.UnitTesting

Moving things about.
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Hoping this works?
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Bleh.
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Didn't like this option, fine.
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

It works!
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Powershell script to alter permissions for a principal id in KeyVault.
  common-azure/ApplyFunctionAppKeyVaultAccessRead.ps1
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Fixing param.
  common-azure/ApplyFunctionAppKeyVaultAccessRead.ps1
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Testing the import of the required cmdlets.
  common-azure/ApplyFunctionAppKeyVaultAccessRead.ps1
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

The Azure Cloud Shell cmdlet https://docs.microsoft.com/en-us/powershell/module/az.keyvault/set-azkeyvaultaccesspolicy?view=azps-3.7.0
  common-azure/ApplyFunctionAppKeyVaultAccessRead.ps1
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Exception catching.
  common-azure/ApplyFunctionAppKeyVaultAccessRead.ps1
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Fixing casing.
  common-azure/ApplyFunctionAppKeyVaultAccessRead.ps1
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Allow inherited HttpSpiExecutionContextManagers to override SetContext
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/Dfe.Spi.Common.Http.Server.csproj
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/HttpSpiExecutionContextManager.cs
Due: none

Add header helper extensions
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/IHeaderDictionaryExtensions.cs
Due: none

Make pre-release
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/Dfe.Spi.Common.Http.Server.csproj
Due: none

Bump to release version
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/Dfe.Spi.Common.Http.Server.csproj
Due: none

Add object assertions for unit testing
  src/Dfe.Spi.Common/Dfe.Spi.Common.UnitTesting/Dfe.Spi.Common.UnitTesting.csproj
  src/Dfe.Spi.Common/Dfe.Spi.Common.UnitTesting/ObjectAssert.cs
Due: pipelines/Dfe.Spi.Common.UnitTesting.yml

Update tests to .NET core 3.1
  src/Dfe.Spi.Common/Dfe.Spi.Common.Extensions.UnitTests/Dfe.Spi.Common.Extensions.UnitTests.csproj
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server.UnitTests/Dfe.Spi.Common.Http.Server.UnitTests.csproj
  src/Dfe.Spi.Common/Dfe.Spi.Models.Extensions.UnitTests/Dfe.Spi.Models.Extensions.UnitTests.csproj
Due: none

Add formatted Json result to handle issues with 3.1 jsonresult
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/Dfe.Spi.Common.Http.Server.csproj
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/FormattedJsonResult.cs
Due: none

Update HttpErrorBoyResult to inherit from FormattedJsonResult
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/Dfe.Spi.Common.Http.Server.csproj
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/FormattedJsonResult.cs
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/HttpErrorBodyResult.cs
Due: none

Modified OAuth2Client authenticator to bypass token retrieval if the app is running locally!
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Client/OAuth2ClientCredentialsAuthenticator.cs
Due: pipelines/Dfe.Spi.Common.Http.Client.yml

Updated build pipeline with latest image
  pipelines/Dfe.Spi.Common.AzureStorage.yml
  pipelines/Dfe.Spi.Common.Caching.yml
  pipelines/Dfe.Spi.Common.Context.yml
  pipelines/Dfe.Spi.Common.Extensions.yml
  pipelines/Dfe.Spi.Common.Http.Client.yml
  pipelines/Dfe.Spi.Common.Http.Server.yml
  pipelines/Dfe.Spi.Common.Http.yml
  pipelines/Dfe.Spi.Common.Logging.yml
  pipelines/Dfe.Spi.Common.Models.yml
  pipelines/Dfe.Spi.Common.SharedAzure.yml
  pipelines/Dfe.Spi.Common.UnitTesting.yml
  pipelines/Dfe.Spi.Common.WellKnownIdentifiers.yml
  pipelines/Dfe.Spi.Models.Extensions.yml
Due: pipelines/Dfe.Spi.Common.Caching.yml, pipelines/Dfe.Spi.Common.Extensions.yml, pipelines/Dfe.Spi.Common.Http.Client.yml, pipelines/Dfe.Spi.Common.Http.yml, pipelines/Dfe.Spi.Common.Logging.yml, pipelines/Dfe.Spi.Common.SharedAzure.yml, pipelines/Dfe.Spi.Common.UnitTesting.yml

Updated HTTP.server pipeline
  pipelines/Dfe.Spi.Common.Http.Server.yml
Due: none

Updated pipeline, removed dotnet 6
  pipelines/Dfe.Spi.Common.Http.Server.yml
Due: none

Updated project version
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/Dfe.Spi.Common.Http.Server.csproj
Due: none

Updated version
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/Dfe.Spi.Common.Http.Server.csproj
Due: none

Updated project version
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Client/Dfe.Spi.Common.Http.Client.csproj
Due: pipelines/Dfe.Spi.Common.Http.Client.yml
