Repository DFE-Digital/spi-common: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/Dfe.Spi.Common.Caching.yml, pipelines/Dfe.Spi.Common.Extensions.yml, pipelines/Dfe.Spi.Common.Http.Client.yml, pipelines/Dfe.Spi.Common.Http.yml, pipelines/Dfe.Spi.Common.Logging.yml, pipelines/Dfe.Spi.Common.SharedAzure.yml, pipelines/Dfe.Spi.Common.UnitTesting.yml

Path conditions:
  pipelines/Dfe.Spi.Common.Caching.yml: any of: pipelines/Dfe.Spi.Common.Caching.yml, src/Dfe.Spi.Common/Dfe.Spi.Common.Caching
  pipelines/Dfe.Spi.Common.Extensions.yml: any of: pipelines/Dfe.Spi.Common.Extensions.yml, src/Dfe.Spi.Common/Dfe.Spi.Common.Extensions
  pipelines/Dfe.Spi.Common.Http.Client.yml: any of: pipelines/Dfe.Spi.Common.Http.Client.yml, src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Client
  pipelines/Dfe.Spi.Common.Http.yml: any of: pipelines/Dfe.Spi.Common.Http.yml, src/Dfe.Spi.Common/Dfe.Spi.Common.Http
  pipelines/Dfe.Spi.Common.Logging.yml: any of: pipelines/Dfe.Spi.Common.Logging.yml, src/Dfe.Spi.Common/Dfe.Spi.Common.Logging
  pipelines/Dfe.Spi.Common.SharedAzure.yml: any of: pipelines/Dfe.Spi.Common.SharedAzure.yml, common-azure
  pipelines/Dfe.Spi.Common.UnitTesting.yml: any of: pipelines/Dfe.Spi.Common.UnitTesting.yml, src/Dfe.Spi.Common/Dfe.Spi.Common.UnitTesting

Common thingumy.
  src/Dfe.Spi.Common/Dfe.Spi.Common.AzureStorage/CloudTableExtensions.cs
  src/Dfe.Spi.Common/Dfe.Spi.Common.AzureStorage/Dfe.Spi.Common.AzureStorage.csproj
Due: none

Update to this method to cater for the rates adapter.
  src/Dfe.Spi.Common/Dfe.Spi.Common.AzureStorage/CloudTableExtensions.cs
  src/Dfe.Spi.Common/Dfe.Spi.Common.AzureStorage/Dfe.Spi.Common.AzureStorage.csproj
Due: none

Seems to be no sensible way of commonising these two things.
  src/Dfe.Spi.Common/Dfe.Spi.Common.AzureStorage/CloudTableExtensions.cs
  src/Dfe.Spi.Common/Dfe.Spi.Common.AzureStorage/Dfe.Spi.Common.AzureStorage.csproj
Due: none

Add web tests to ARM
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Fix naming issues
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Make web test ids unique
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Fix typo in variable name
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Add expiration to cache provider
  src/Dfe.Spi.Common/Dfe.Spi.Common.Caching/CacheProvider.cs
  src/Dfe.Spi.Common/Dfe.Spi.Common.Caching/Definitions/ICacheProvider.cs
  src/Dfe.Spi.Common/Dfe.Spi.Common.Caching/Dfe.Spi.Common.Caching.csproj
Due: pipelines/Dfe.Spi.Common.Caching.yml

Add istore and rates tests
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Add rates to SourceSystemNames
  src/Dfe.Spi.Common/Dfe.Spi.Common.WellKnownIdentifiers/SourceSystemNames.cs
Due: none

Version bump
  src/Dfe.Spi.Common/Dfe.Spi.Common.WellKnownIdentifiers/Dfe.Spi.Common.WellKnownIdentifiers.csproj
Due: none

Return raw date (not utc date) when parsing value with offset info
  src/Dfe.Spi.Common/Dfe.Spi.Common.Extensions.UnitTests/StringExtensionTests.cs
  src/Dfe.Spi.Common/Dfe.Spi.Common.Extensions/Dfe.Spi.Common.Extensions.csproj
  src/Dfe.Spi.Common/Dfe.Spi.Common.Extensions/StringExtensions.cs
Due: pipelines/Dfe.Spi.Common.Extensions.yml

Change function base to allow passing of run context
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/Dfe.Spi.Common.Http.Server.csproj
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/FunctionRunContext.cs
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/FunctionsBase{TRequest}.cs
Due: none

Pass more details to inherited function about validation errors
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/FunctionsBase{TRequest}.cs
Due: none

Set to pre-release version
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/Dfe.Spi.Common.Http.Server.csproj
Due: none

Add overload to HttpErrorBodyResult to customise body
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/Dfe.Spi.Common.Http.Server.csproj
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/HttpErrorBodyResult.cs
Due: none

Simplify HttpErrorBodyResult constructor
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/HttpErrorBodyResult.cs
Due: none

Add detailed error body model
  src/Dfe.Spi.Common/Dfe.Spi.Common.Models/Dfe.Spi.Common.Models.csproj
  src/Dfe.Spi.Common/Dfe.Spi.Common.Models/HttpDetailedErrorBody.cs
Due: none

Add error result for json schema validation errors
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/Dfe.Spi.Common.Http.Server.csproj
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/HttpSchemaValidationErrorBodyResult.cs
Due: none

Default validation error message
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/HttpSchemaValidationErrorBodyResult.cs
Due: none

Package versions
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/Dfe.Spi.Common.Http.Server.csproj
  src/Dfe.Spi.Common/Dfe.Spi.Common.Models/Dfe.Spi.Common.Models.csproj
Due: none

Move http server back to alpha until model package released
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/Dfe.Spi.Common.Http.Server.csproj
Due: none

Use release version of models
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/Dfe.Spi.Common.Http.Server.csproj
Due: none

Handle validation errors for array items
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/Dfe.Spi.Common.Http.Server.csproj
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/HttpSchemaValidationErrorBodyResult.cs
Due: none

Update to release version
  src/Dfe.Spi.Common/Dfe.Spi.Common.Http.Server/Dfe.Spi.Common.Http.Server.csproj
Due: none

Create 3 shared asps on P1V2
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Remove errant comma
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Fix double concat
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

New enumeration, for admissions.
  src/Dfe.Spi.Common/Dfe.Spi.Common.WellKnownIdentifiers/Dfe.Spi.Common.WellKnownIdentifiers.csproj
  src/Dfe.Spi.Common/Dfe.Spi.Common.WellKnownIdentifiers/EnumerationNames.cs
Due: none

Increase ASP2 to 2 instances
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Add autoscale to ASP2
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Add api version to auto scale
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Fix resource id declaration
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Try and fix resource id in template
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Update api version of auto scale
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Provisioning KeyVault.
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Fixing slightly...
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Supplying a value, to get around https://github.com/Azure/azure-quickstart-templates/issues/6235
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Can't do that really.
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml

Testing adding network ACLs via template.json.
  common-azure/template.json
Due: pipelines/Dfe.Spi.Common.SharedAzure.yml
